/* navbar */

.header {
  color: var(--default-color);
  background-color: #ffffff;
  padding: 20px 0;
  transition: all 0.5s;
  z-index: 997;
  box-shadow: 0 4px 10px -1px rgba(128, 128, 128, 0.3);
}

.navbar-nav li.nav-item:hover .nav-link {
  color: red !important;
}
.navbar-nav li{
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}
/* hero section */
.hero {
  --default-color: #ffffff;
  --background-color: #000000;
  --heading-color: #ffffff;
  width: 100%;
  min-height: calc(100vh - 100px);
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-color);
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 30%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .container {
  position: relative;
  z-index: 3;
}

.hero h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
}

.hero p {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin: 10px 0 0 0;
  font-size: 24px;
}

.hero .btn-get-started {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  transition: 0.3s;
  background: tomato;
  color: var(--contrast-color);
}

.hero .btn-get-started:hover {
  background: color-mix(in srgb, tomato, transparent 20%);
}

.hero .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  font-weight: 600;
  color: var(--default-color);
}

.hero .btn-watch-video i {
  color: tomato;
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

.hero .btn-watch-video:hover {
  color: tomato;
}

.hero .btn-watch-video:hover i {
  color: color-mix(in srgb, var(--accent-color), transparent 20%);
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 32px;
  }

  .hero p {
    font-size: 18px;
  }
}

/* client section */
.clients .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}

.clients .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}

.clients .swiper-wrapper {
  height: auto;
}

.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: color-mix(in srgb, gray, transparent 80%);
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: tomato;
}

/* about section */

.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
  color: #ffffff;
}

.about .content p {
  margin-bottom: 30px;
  color: #ffffff;
}

.about .content .about-btn {
  padding: 8px 30px 9px 30px;
  color: #ffffff;
  border-radius: 50px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  border: 2px solid tomato;
}

.about .content .about-btn i {
  font-size: 16px;
  padding-left: 5px;
}

.about .content .about-btn:hover {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.about .icon-box i {
  font-size: 40px;
  color: tomato;
  margin-bottom: 10px;
}

.about .icon-box h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.about .icon-box h4 a {
  color: white;
  transition: 0.3s;
  text-decoration: none;
}

.about .icon-box p {
  font-size: 15px;
  color: color-mix(in srgb, white, transparent 40%);
  margin-bottom: 0;
}

.about .icon-box:hover h4 a {
  color: rgb(224, 37, 37);
}

section,
.section {
  color: #ffffff;
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

.section-bg {
  background-color: transparent;
  padding: 160px 0;
  position: relative;
}

.section-bg:before {
  content: "";
  background-color: black;
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}

.section-bg .container {
  position: relative;
}

@media (max-width: 1199px) {
  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/* stats section */
.stats i {
  background-color: #ffffff;
  color: #e03a3c;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  width: 54px;
  height: 54px;
  font-size: 24px;
  border-radius: 50px;
  border: 2px solid #f9f9f9;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.stats .stats-item {
  background-color: #ffffff;
  margin-top: -27px;
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 0;
}

.stats .stats-item span {
  font-size: 36px;
  display: block;
  font-weight: 700;
  color: color-mix(in srgb, #444444, transparent 20%);
}

.stats .stats-item p {
  padding: 0;
  margin: 0;
  font-family: "Raleway",  sans-serif;
  font-size: 16px;
}

/* tabs section */
.tabs .nav-tabs {
  border: 0;
}

.tabs .nav-link {
  color: #111111;
  border: 1px solid rgba(68, 68, 68, 0.15) !important;
  padding: 15px 20px;
  transition: 0.3s;
    display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  border-radius: 0% !important;
}

.tabs .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.tabs .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.tabs .nav-link:hover {
  border-color: #e03a3c !important;
}

.tabs .nav-link:hover i {
  color: #e03a3c ;
}

.tabs .nav-link:hover h4 {
  color: #111111 !important;
}


.tabs .nav-link.active {
  background: #e03a3c !important;
  color: #ffffff !important;
  border-color: #e03a3c !important;
}

.tabs .nav-link.active:hover i {
  color: #ffffff !important;
}

.tabs .nav-link.active h4 {
  color: #ffffff !important
}

@media (max-width: 768px) {
  .tabs .nav-link i {
    padding: 0;
    line-height: 1;
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .tabs .nav-link {
    padding: 15px;
  }

  .tabs .nav-link i {
    font-size: 24px;
  }
}

.tabs .tab-content {
  margin-top: 30px;
  color: #111111;
}

.tabs .tab-pane h3 {
  color: #111111;
  font-weight: 700;
  font-size: 26px;
}

.tabs .tab-pane ul {
  list-style: none;
  padding: 0;
}

.tabs .tab-pane ul li {
  padding-bottom: 10px;
}

.tabs .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #e03a3c;
}

.tabs .tab-pane p:last-child {
  margin-bottom: 0;
}

/* service section */
.section-title{
  margin: auto;
  text-align: center;
}
.services .section-title h2{
      font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}
.services .section-title h2::after{
      content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e03a3c;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.services .service-item {
  background-color: #353535;
  padding: 30px;
  transition: 0.3s;
}

.services .service-item .icon {
  font-size: 36px;
  line-height: 0;
  margin-right: 30px;
  color: #e03a3c;
}

.services .service-item .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
}


.services .service-item .title a {
  color: #ffffff;
  text-decoration: none;
}

.services .service-item .description {
  line-height: 24px;
  font-size: 14px;
  margin: 0;
}

.services .service-item:hover {
  background-color: color-mix(in srgb, #353535 90%, white 5%);
}